# SPDX-FileCopyrightText: © 2020 Team CharLS
# SPDX-License-Identifier: BSD-3-Clause

root = true

# Default settings
[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Spell checker configuration
spelling_exclusion_path = spelling.dic

[*.{hpp,cpp,ixx}]
end_of_line = crlf
indent_size = 4

# MSBuild files
[*.{props,vcxproj}]
indent_size = 2
# Follow formatting of Visual Studio, which does not insert a final newline in XML files
insert_final_newline = false

[*.yml]
indent_size = 2

[*.md]
# Ending with 2 spaces is used for layout in Markdown
trim_trailing_whitespace = false
indent_size = 2

[*.{wxs,wxi}]
indent_size = 2
